<!-- Edited by: Ihsan Nurkhotib --> 
<!-- if you editing, please place your name below --> 

<launch>
    <arg name="model" default="robotino"/>
    <arg name="x" default="1.0" /> 
    <arg name="y" default="-1.0" />
    <arg name="z" default="0.0" />
    <arg name="roll" default="0.0"/>
    <arg name="pitch" default="0.0"/>
    <arg name="yaw" default="3.14"/>


    <param name="robot_description" command="$(find xacro)/xacro $(find robotino_description)/urdf/robot.urdf.xacro" />

    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model robotino -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw) -param robot_description" />

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen"/>

</launch>