<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="stage" default="1"/>
    <param name="stage_number"  value="$(arg stage)"/>
    <!-- Load configuration file -->
    <rosparam file="/home/ihsan/catkin_ws/src/robotino_rl_sim/src/config/td3.yaml" />
    <rosparam file="/home/ihsan/catkin_ws/src/robotino_rl_sim/src/config/robotino_world.yaml" />
    <!-- Launch the training system -->
    <node pkg="robotino_rl_sim" name="robotino_td3" type="retrain_td3_training.py" output="screen"/>
</launch>
